@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@*@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "font-size:30px;" })*@

<style>
    .shadow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
    }
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a {
                margin-bottom: 0;
                background-color: #FF9562;
            }

                div.bhoechie-tab-menu div.list-group > a .glyphicon,
                div.bhoechie-tab-menu div.list-group > a .fa {
                    color: #001A35;
                }

                div.bhoechie-tab-menu div.list-group > a:first-child {
                    border-top-right-radius: 0;
                    -moz-border-top-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a:last-child {
                    border-bottom-right-radius: 0;
                    -moz-border-bottom-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a.active,
                div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                div.bhoechie-tab-menu div.list-group > a.active .fa {
                    background-color: #001A35;
                    background-image: #001A35;
                    color: #ffffff;
                }

                    div.bhoechie-tab-menu div.list-group > a.active:after {
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -13px;
                        border-left: 0;
                        border-bottom: 13px solid transparent;
                        border-top: 13px solid transparent;
                        border-left: 10px solid #001A35;
                    }

    div.bhoechie-tab-content {
        background-color: #FF9562;
        /* border: 1px solid #eeeeee; */
        margin: 0 auto;
        align-content: center;
        /*padding-left: 20px;
        padding-top: 10px;*/
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
        
    }

    div.bhoechie-tab-container {
        z-index: 10;
        background-color: #FF9562;
    }
</style>

<!--Manual de usuario-->

<div class="row">
    @*<h4 class="login-logo text-bold text-navy">Manual de usuario - Abogados Corp.</h4>*@
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
    <img src="~/Content/img/Logo.png" class="img-responsive" alt="Alternate Text" style="width:100%; height:200px;" />
    </div>

    <div class="col-sm-3"></div>
</div>
<br />
<div class="col-sm-1"></div>
    <div class="row"">
        <div class="col-md-10 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 bhoechie-tab-menu">
                <div class="list-group text-bold">

                    <a href="#" class="list-group-item active text-center">
                        <h4 class="fa fa-book"></h4><br />Notario
                    </a>              
                    <a href="#" class="list-group-item text-center">
                        <h4 class="fa fa-gavel"></h4><br />Abogacia
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="fa fa-calendar"></h4><br />Eventos
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="fa fa-group"></h4><br />Personal
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="fa fa-gear"></h4><br />Config.
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="fa fa-gears"></h4><br />Roles
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class=""></h4><br />
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class=""></h4><br />
                    </a>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">

                    <center>
                        <h1 class="fa fa-book" style="font-size:8em;color:#001A35"></h1>
                        <h2 class="text-bold text-uppercase" style="margin-top: 0;color:#001A35">Modulo #1 - Notariado</h2>
                        <section>
                            <p style="margin-top: 0;color:#001A35">
                                El modulo #1 consta de cuatro categorías, las cuales son necesarias para poder realizar un excelente flujo de datos
                                y mantener todo lo mejor ordenado posible, estas cuatro categorías son: <br />
                                <strong>"Libros, A/F, Otorgantes y Editables".</strong>
                            </p>
                        </section>
                    </center>
                        <section>
                            <p class="text-bold text-uppercase text-navy">Pasos a seguir:</p>
                            <ol class="text-bold text-navy">
                                <li>Registrar datos de: "Personal" con su respectiva categoria y estado.</li>
                                <li>Registrar un libro con los datos que se solicitan en el formulario.</li>
                            </ol>
                        </section>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="fa fa-gavel" style="font-size:8em;color:#001A35"></h1>
                        <h2 class="text-bold text-uppercase" style="margin-top: 0;color:#001A35">Modulo #2 - Abogacia</h2>
                        <section>
                            <p style="margin-top: 0;color:#001A35">
                                Este modulo sera capaz de llevar un registro completo de: <strong>clientes, casos y un historial</strong>, <br />
                                donde se pondran hacer registros adicionales como: <strong>categorias y juzgados</strong>, para mantener cada uno de
                                los registros ingresados de manera clasificada y ordenada.
                            </p>
                        </section>
                    </center>

                    <section>
                        <p class="text-bold text-uppercase text-navy">Pasos a seguir:</p>
                        <ol class="text-bold text-navy">
                            <li>En "Datos adicionales", registrar una categoria y un juzgado, ejemplo de una categoria: Familiar, Penal.</li>
                            <li>Registrar un estado para casos, ejemplo: Abierto, Cerrado, Terminado, Pendiente.</li>
                            <li>Registrar un cliente.</li>
                            <li>Registrar un caso.</li>
                            <li>Registrar historiales.</li>
                        </ol>
                    </section>
                </div>

                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="fa fa-calendar" style="font-size:8em;color:#001A35"></h1>
                        <h2 class="text-bold text-uppercase" style="margin-top: 0;color:#001A35">Eventos</h2>
                        
                        <section>
                            <p style="margin-top: 0;color:#001A35">
                                En este apartado se predente manejar la gestion de "Eventos" para cualquier dia del año actual, en el cual
                                se podraseleccionar: <br />
                                <strong> un fecha o rango de fechas, asignar un titulo, hora y descripción.</strong>
                            </p>
                        <p class="text-bold" style="margin-top: 0;color:#001A35">
                            De igual manera se podra: "Editar"  y "Eliminar" cualquier evento registrado anteriormente.
                        </p>
                        </section>
                    </center>

                    <section>
                        <p class="text-bold text-uppercase text-navy">Pasos a seguir:</p>
                        <ol class="text-bold text-navy">
                            <li>Seleccionar una fecha.</li>
                            <li>Llenar el formulario con los datos correspondientes.</li>
                            <li>Guardar la informacion.</li>
                        </ol>
                    </section>

                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="fa fa-group" style="font-size:8em;color:#001A35"></h1>
                        <h2 class="text-bold text-uppercase" style="margin-top: 0;color:#001A35">Personal</h2>

                        <section>
                            <p style="margin-top: 0;color:#001A35">
                                En este apartado se pretende manejar un registro de todo el personal dentro de la empresa con su respectivo cargo a desempeñar.
                            </p>
                        </section>
                    </center>
                    <section>
                        <p class="text-bold text-uppercase text-navy">Pasos a seguir:</p>
                        <ol class="text-bold text-navy">
                            <li>En "Personal", registrar una "Categoria", ejemplo: "Notario, Abogado, Secretaria".</li>
                            <li>Registrar un "Estado C/P", ejemplo: "Activo, Despedido".</li>
                            <li>Registrar un "Personal"</li>
                        </ol>
                    </section>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="fa fa-gear" style="font-size:8em;color:#001A35"></h1>
                        <h2 class="text-uppercase text-bold" style="margin-top: 0;color:#001A35">Configuración</h2>
                        <p style="margin-top: 0;color:#001A35">
                            Este apartado esta diseñado principalmente para la gestion de usuarios que operan dentro de el sistema.
                            <br />
                            Se podran visualizar: <strong>"Nombres, E-mail, Estado y Acciones"</strong>,  en las cuales:
                        </p>
                        <section class="text-navy">

                            <br />
                            <strong>
                                Nombres: Sera el nombre del usuario registrado. <br />
                                E-mail: Sera el correo del usuario registrado. <br />
                                Estado: Sera donde podremos visualizar el estado de una cuenta para que pueda o no, iniciar sesion. <br />
                                En el apartado "Acciones" podremos: <br /> <br />
                                1) Asignar roles a un usuario ya registrado. <br />
                                2) Activar o desactivar el estado de un usuario para que pueda ingresar o no al sistema.
                                                                             <br />
                                                                             <BR />

                                NOTA: SOLO EL ADMINISTRADOR PODRE CREAR UN NUEVO USUARIO Y EJECUAR LAS ACTIVIDADES ANTES MENCIONADAS EN ESTE APARTADO.
                            </strong>

                            


                        </section>
                    </center>                 
                </div>

                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="fa fa-gears" style="font-size:8em; color:#001A35"></h1>
                        <h2 class="text-uppercase text-bold" style="margin-top:0; color:#001A35">Roles</h2>
                        <p style="margin-top:0; color:#001A35;">
                            En este apartado se pretende mostrar un listado de roles, los cuales ya estarán predefinidos
                            ya que estos serán parte esencial para el funcionamiento del sistema.
                            <br />
                            estos roles se podrán asignar a los usuarios para especificar que tareas podrán realizar.
                            <br />
                            <strong>NOTA: LOS NOMBRES DE CADA UNO DE LOS NO PODRAN SER MODIFICADOS NI ELIMINADOS.</strong>
                            <br />
                        </p>
                    </center>
                    <!--Tabla de roles-->
                    <table class="table table-responsive table-hover table-condensed table-striped text-center text-bold table-bordered">
                        <thead>
                            <tr class="text-navy">
                                <th scope="col">Roles</th>
                                <th scope="col">Acciones</th>
                                <th scope="col">Vistas</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Administrador</th>
                                <td>Agregar, Ver detalles, Actualizar, Eliminar.</td>
                                <td>TODAS</td>
                                <td>Sin restricciones</td>
                            </tr>
                            <tr>
                                <th scope="row">Notario</th>
                                <td>Agregar, Ver detalles.</td>
                                <td>
                                    Modulo #1: Libros, A/F, Otorgantes. <br />
                                    Extras: Eventos, Zona Geográfica.
                                </td>
                                <td>Con restricciones en vistas.</td>
                            </tr>
                            <tr>
                                <th scope="row">Abogacía</th>
                                <td>Agregar, Ver detalles.</td>
                                <td>
                                    Modulo #2: Clientes, Casos, Historial, Categorías, Juzgados, Estado de casos. <br />
                                    Extras: Eventos, Zona Geográfica.

                                </td>
                                <td>Con restricciones en vistas.</td>
                            </tr>
                            <tr>
                                <th scope="row">Editor</th>
                                <td>Ver detalles, Editar.</td>
                                <td>TODAS(Menos Configuración)</td>
                                <td>
                                    Solamente podra observar la lista de cada apartado, y los siguientes botones. <br />
                                    (Ver detalles y Eliminar)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Observador</th>
                                <td>Ver detalles</td>
                                <td>TODAS(Menos configuración)</td>
                                <td>
                                    Solamente tendra acceso al listado de todos los apartados, y los siguientes botones. <br />
                                    (Ver detalles)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-1"></div>
<!--FIN Manual de usuario-->



<script type="text/javascript">
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
</script>