@model testuser.Models.SysModel.tblCategorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="box box-primary">
            <div class="box-header" align="left">
                <h4 class="box-title text-info"><strong>Detalles de Categoria de Casos</strong></h4>
            </div>

            <div class="box-body">
                <div>
                    <hr style="margin-top:-10px;" />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre_Categoria)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre_Categoria)
                        </dd>

                    </dl>
                </div>
                <p class="col-lg-offset-2">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Categoria }, new { @class = "btn bg-orange" }) |
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
