@using Microsoft.AspNet.Identity
@{
    var usuario = User.Identity.GetUserId();
    var listado = testuser.ViewModels.clsNotification.notificacionesPendientes(/*usuario*/);
    var cantidad = testuser.ViewModels.clsNotification.cantidadNotificacionesSinLeer(/*usuario*/);
}
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>


<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-bell-o" style="font-size:18px;">
        </i>
        <span class="label label-info" id="cantidad"  style="font-family:'Century Gothic', Times, serif; font-size:13px;">
            -
        </span>
    </a>
    <ul class="dropdown-menu">
        <li class="header text-bold">Notificaciones pendientes</li>
            <li style="font-size:12px;">
                <ul class="menu text-bold" id="listaNotificaciones"></ul>
            </li>

        @{
            if (User.IsInRole("Administrador"))
            {
                <li class="footer">
                    @Html.ActionLink("Ver todas", "VerNotificaciones", "Manage")
                </li>
            }
        }

    </ul>

</li>