@model testuser.Models.SysModel.tblDepartamentos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-offset-4 col-sm-4">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title text-info">Esta seguro de eliminar este dato?</h4>
            </div>
            <div class="box-body">
                <div>
                    <hr style="margin-top:-10px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Departamento)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar", "Index",new { },new { @class="btn btn-default"})
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
