@model List<testuser.Models.RoleView>

@{
    ViewBag.Title = "Roles";
}
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/datatables.min.js"></script>

<style>
    .dataTables_length {
        margin-left: 2%;
    }

    .dataTables_filter {
        margin-right: 5%;
    }

    .dataTables_filter {
        margin-top: 1%;
        margin-bottom: 1%;
    }
</style>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="box box-info ">
            <div class="box-header">
                <h4 class="box-title text-bold text-info">Listado de roles</h4>
                @*<div class="box-tools pull-right">
                        <span class="fa fa-group"></span>
                    </div>*@
            </div>
            <div class="box-body table-responsive">
                <p>
                    <a href="#" class="btn bg-navy btnAgregarRol" title="Registrar nuevo rol">Nuevo rol</a>
                    <a href="../users/Index" class="btn bg-navy" title="Lista de usuarios">Lista de usuarios</a>
                </p>
                <br />
                <table id="example" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre del rol
                            </th>
                            <th>
                            Acciones
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @*@Html.ActionLink("Editar", "EditarRol", new { id=item.RoleID }, new { @class = "btn btn-warning"})*@
                                <a href="#" class="btn btn-danger glyphicon glyphicon-trash btnEliminaRol" title="Eliminar rol" data-value="@item.RoleID"></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="contentRoles">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var espanol =
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            };

            $('#example').DataTable({
                responsive: true,
                language: espanol,
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    'colvis',
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });

            /**/

            $(".btnAgregarRol").click(function () {
                $("#contentRoles").load("/Roles/CrearRol/", function () {
                    $('#rolesModal').modal("show");
                });
            });

            $(".btnEliminaRol").click(function () {

                var id = $(this).data("value");
                $("#contentRoles").load("/Roles/EliminarRol/" + id, function () {
                    $('#rolesModal').modal("show");
                });
            });
        });
    </script>
}
